
/*============================= 
FRAMEWORK SETUP
=================================*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a,a:hover{
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a,ol,ul,input,button{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dosis', sans-serif;
}

/*============================= 
HEADER AREA CSS 
=================================*/
header{
    background: #223047;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #c1c1c1;
}

header .hero-text p{
    color: #97a4be;
}
header .hero-image img{
    margin-bottom: -130px;
}
header .btn-bars {
	background: no-repeat;
	color: #fff;
	font-size: 30px;
}


/* SERVICES AREA CSS */
.service-section{
    background: #fff;
    padding: 100px 0;
}
.service-text h2::after{
    content: "";
    display: block;
    height: 5px;
    margin-top: 50px;
    width: 10%;
    background-color: #00fff0;
    margin: 0 auto;
    margin-top: 50px;
}
.service{
    margin-top: 50px;
}
.service .box img {
    width: 100px;
	height: auto;
	margin: 10px auto;
}
.service .box h3{
    font-size: 17px;
    color: #233148;
    margin: 15px auto;
}
.service .box p{
    font-size: 14px;
    color: #233148;
}

/* START INFO SECTION CSS */

.info{
    padding: 50px 0;
}
.info .row{
    background: #323a4d;
}
.info .info-left{
    /* height: 400px; */
}
.info .info-right{
    background: #f5f6fa;
    padding: 100px 0;
    padding-left: 100px;
}

/* START APP SECTION CSS */
.app-section{
    padding: 50px 0;
}
.app-top{
    padding-bottom: 50px;
}

.app-middle{
}
.app-middle .right-side{
}
.app-middle .right-side ul{
}
.app-middle .right-side li{
    margin: 10px 0;
    padding: 15px 10px;
    box-shadow: 5px 5px 5px 5px #555555;
}
.app-middle .right-side li a{
    color: #233148;
    font-size: 17px;
}
.app-middle .right-side li {
    padding: 20px 15px;
    background: #ffff;
    margin: 10px 0;
    box-shadow: 0px 5px 5px 1px #ddd;
    border-radius: 5px;
    color: #233148;
}
